body {
    margin: 0px;
    border: none;
}

.topMenu {
    background-color: dimgray;
    width: 100%;
    height: 50%;
    padding: 15px;
    text-align: center;
}

.mainContent {
    background-color: whitesmoke;
    width: 100%;
    height: 500px;
    padding: 5px;
    display: flex;
}

.header {
    width: 15%;
}

#header1 {
    float: left;
}

    #header1 img {
        width: 100px;
        height: 30px;
    }

#header2 {
    float: right;
}

.nav {
    float: left;
    width: 70%;
    text-align: justify-all;
    vertical-align: middle;
}

#newRegister {
    background-color: lightgray;
    height: 200px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.bottomMenu {
    width: 100%;
}

footer {
    background-color: black;
    padding: 20px;
    vertical-align: top;
    text-align: left;
    color: white;
}

#info {
    font-weight: normail;
}
